/*
:hover is hover with mouse
:active means being clicked
:focus means selected with <tab>
*/

* {
    box-sizing: border-box;
    /*
    outline: 1px solid red;
    */
}

:root {
    font-size: calc(1em + 1vw);
}

html {
    scroll-behavior: smooth;
    /* https://www.matuzo.at/blog/2022/100daysof-day25/ */
    scrollbar-gutter: stable;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

html,
body {
    height: 100%;
    min-height: 250px;
    width: 100%;
    min-width: 275px;
    margin: 0;
    padding: 0;

    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* https://webplatform.news/issues/2020-05-26 */
.skip-link {
    color: transparent;
    position: absolute;
    left: -9999em;
}

  .skip-link:focus {
    left: 0;
    z-index: 1; /* or larger if necessary */
}

/*******************************
SPOTIFY
********************************/

#spotify {
    position: relative;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    /* https://www.bram.us/2021/07/08/the-large-small-and-dynamic-viewports/ */
    height: 100svh;
    /*
    height: 30rem;
    width: 90vw;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.5rem;
    */

    overflow-x: hidden;
}

#spotify button {
    cursor: pointer;
}

.spotify-view {
    display: flex;
    align-content: start;
    width: 100%;

    height: 100%;
    padding: 1rem;
    overflow-x: hidden;

    flex-wrap: wrap;
    gap: 1rem;

    position: absolute;
    background-color: #121212;

    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.2s ease;
}

.spotify-view-active {
    transform: translateX(0);
    opacity: 1;

    overflow-x: auto;
}

.spotify-view-header {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    padding: 0 2rem;
}

.spotify-view-title {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.3rem;

    width: fit-content;
    margin: 0 auto;
}

.spotify-view-desc {
    font-size: 0.7rem;
    color: rgb(167, 167, 167);
}

.spotify-view-desc.hide {
    display: none;
}

.spotify-back {
    position: absolute;
    /* left: 0; */
    left: 1rem;
    width: 1.8rem;
    height: 1.8rem;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
}

.spotify-back > svg {
    fill: #fff;
    height: 90%;
    width: 90%;

    right: -0.3rem;
    top: 0.5rem;

    position: absolute;
}

.spotify-folders {
    display: flex;
    gap: 1rem;

    width: 100%;
    flex-wrap: wrap;
}

.spotify-folder {
    width: 100%;
    max-width: 14rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #181818;

    color: inherit;
    text-decoration: none;

    display: flex;
    align-content: center;
    gap: 1rem;

    border: none;
}

.spotify-folder .icon-folder {
    fill: #a0a0a0;
    width: 1.7rem;
    height: 1.7rem;
}

.spotify-folder-text {
    margin: 0 0;
}

.spotify-folder-title {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
}

.spotify-folder-desc {
    color: rgb(167, 167, 167);
    font-size: 0.5rem;
    text-align: left;
}

.spotify-playlist {
    width: 8rem;
    max-width: 230px;
    padding: 0.7rem;
    border-radius: 0.5rem;

    display: flex;
    flex-flow: column;

    background-color: #181818;
    color: inherit;
    text-decoration: none;

    border: none;
}

.spotify-playlist-img {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.spotify-playlist-img img {
    width: 100%;
}

.spotify-playlist-play {
    position: absolute;
    bottom: 0.6rem;
    right: 0.4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 215, 96);

    opacity: 0;
    transform: translateY(0.7rem);
    transition: transform 0.4s, opacity 0.4s;
}

.spotify-playlist-play > div {
    width: 0; 
    height: 0; 
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: 0.7rem solid black;
    margin-left: 0.17rem;
}

.spotify-folder,
.spotify-playlist {
    transition: background-color 0.3s;
}

.spotify-folder:hover,
.spotify-folder:active,
.spotify-folder:focus,
.spotify-playlist:hover,
.spotify-playlist:active,
.spotify-playlist:focus {
    background-color: #242424;
}

.spotify-playlist:hover .spotify-playlist-play,
.spotify-playlist:active .spotify-playlist-play,
.spotify-playlist:focus .spotify-playlist-play {
    opacity: 1;
    transform: translateY(0)
}

.spotify-playlist-play:active {
    background-color: rgb(22, 156, 70);
}

.spotify-playlist-play:hover {
    scale: 1.05;
}

.spotify-playlist-title {
    font-size: 0.7rem;
    font-weight: 700;

    text-align: left;
    margin: 0.5rem 0;
}

.spotify-playlist-desc {
    text-align: left;
    font-size: 0.6rem;
    color: rgb(167, 167, 167);
}

.spotify-playlist-desc.hide {
    display: none;
}

.spotify-playlist-embed {
    /*
    width: 100%;
    height: 80vh;
    */
    width: calc(100% - 1rem);
    height: 25rem;

    border: none;
}


/*******************************
3D Carousel
********************************/
/* 3D Slideshow */ 
#slideshow * {
    margin: 0;
    padding: 0;
}

#slideshow {
    margin: 0 auto;
    /* padding-top: 50px; */
    height: 9rem;
    width: 100%;
    /* background-color: #6adecd; */
    box-sizing: border-box;
    overflow: hidden;
}

.slideshow-title {
    /* font-family: 'Allerta Stencil'; */
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
}

/*
.sub-heading {
    padding-top: 50px;
    font-size: 18px;
} .sub-heading-two {
    font-size: 15px;
} .sub-heading-three {
    font-size: 13px;
} .sub-heading-four {
    font-size: 11px;
} .sub-heading-five {
    font-size: 9px;
} .sub-heading-six {
    font-size: 7px;
} .sub-heading-seven {
    font-size: 5px;
} .sub-heading-eight {
    font-size: 3px;
} .sub-heading-nine {
    font-size: 1px;
}
*/

#slideshow .entire-content {
    margin: 0 auto;
    /* width: 150px; */ /* Change this if not centered */
    width: 7rem;
    perspective: 35rem;
    position: relative;
    padding-top: 3rem;
    top: -2rem;

    transform: scale(0.75);
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 50s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    /*
    width: 100%;
    height: 120px;
    */
    width: 5.5rem;
    height: 5.5rem;
    /* border: 1px solid #3b444b; */
    /* overflow: hidden; */
    position: absolute;
}

.content-carrousel a {
    text-decoration: none;
    color: inherit;
}

.content-carrousel a:hover {
    text-decoration: underline;
}

.content-carrousel figcaption {
    text-align: center;
    font-size: 0.8rem;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(10rem); 
} .content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(10rem); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.03);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        /* transform: rotateY(0deg); */
        transform: rotateY(360deg);
    } to {
        /* transform: rotateY(360deg); */
        transform: rotateY(0deg);
    }
}

/*******************************
Projects
********************************/
#projects summary h3 {
    font-size: 1rem;
    font-weight: normal;
    display: inline;
}

#projects summary p {
    font-size: 0.8rem;
    display: inline;
}

#projects details summary {
    cursor: pointer;
}

#projects details {
    width: 90%;
    margin: 0 auto ;
    background: #282828;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    overflow: hidden;
}

#projects summary {
    padding: 1rem;
    display: block;
    background: #333;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

#projects summary:hover {
    background: #484848;;
}

#projects summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

#projects details[open] > summary:before {
    transform: rotate(90deg);
}


#projects details summary::-webkit-details-marker {
    display:none;
}

#projects details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

#projects iframe {
    display: block;
    margin: 1% auto;
    border: none;
    width: calc(98%);
    height: 90vh;
}
